**SQLite** — не выдерживает больших нагрузок, на время одного обращения файл с БД блокируется.
Более того, встроенные методы не позволяют писать запросы с помощью ООП

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect("databases/manual_queries.db")
cursor = conn.cursor()

In [39]:
query = """
DROP TABLE IF EXISTS users;
"""
cursor.execute(query)

query = """
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(50),
    email VARCHAR(100)
);
"""
cursor.execute(query)

In [40]:
query = """
INSERT INTO users
VALUES
    (NULL, "Анна Иванова", "anna@mail.ru"),
    (NULL, "Петр Сидоров", "petr@yandex.ru"),
    (NULL, "Мария Козлова", "maria@gmail.com");
"""
cursor.execute(query)

In [41]:
query = """
SELECT * FROM users;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna@mail.ru'), (2, 'Петр Сидоров', 'petr@yandex.ru'), (3, 'Мария Козлова', 'maria@gmail.com')]

In [44]:
query = """
SELECT * FROM users
WHERE name = "Анна Иванова"
LIMIT 1;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna@mail.ru')]

In [45]:
query = """
UPDATE users
SET email = "anna_new@mail.ru"
WHERE name = "Анна Иванова";
"""
cursor.execute(query)

In [46]:
query = """
DELETE FROM users
WHERE name = "Петр Сидоров";
"""
cursor.execute(query)

In [47]:
query = """
SELECT * FROM users
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna_new@mail.ru'), (3, 'Мария Козлова', 'maria@gmail.com')]

In [48]:
query = """
SELECT COUNT(*) FROM users
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(2,)]

In [50]:
query = """
SELECT *
FROM users
ORDER BY name DESC;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(3, 'Мария Козлова', 'maria@gmail.com'), (1, 'Анна Иванова', 'anna_new@mail.ru')]

In [ ]:
cursor.close()
conn.close()