**SQLite** — не выдерживает больших нагрузок, на время одного обращения файл с БД блокируется.
Более того, встроенные методы не позволяют писать запросы с помощью ООП

In [3]:
import sqlite3

In [29]:
conn = sqlite3.connect("manual_queries.db")
cursor = conn.cursor()

In [30]:
query = """
DROP TABLE IF EXISTS users;
"""
cursor.execute(query)

query = """
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR(50),
    email VARCHAR(100)
);
"""
cursor.execute(query)

In [31]:
query = """
INSERT INTO users
VALUES
    (NULL, "Анна Иванова", "anna@mail.ru"),
    (NULL, "Петр Сидоров", "petr@yandex.ru"),
    (NULL, "Мария Козлова", "maria@gmail.com");
"""
cursor.execute(query)

In [32]:
query = """
SELECT * FROM users;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna@mail.ru'), (2, 'Петр Сидоров', 'petr@yandex.ru'), (3, 'Мария Козлова', 'maria@gmail.com')]

In [33]:
query = """
SELECT * FROM users
WHERE name = "Анна Иванова"
LIMIT 1;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna@mail.ru')]

In [34]:
query = """
UPDATE users
SET email = "anna_new@mail.ru"
WHERE name = "Анна Иванова";
"""
cursor.execute(query)

In [35]:
query = """
DELETE FROM users
WHERE name = "Петр Сидоров";
"""
cursor.execute(query)

In [36]:
query = """
SELECT * FROM users
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna_new@mail.ru'), (3, 'Мария Козлова', 'maria@gmail.com')]

In [37]:
query = """
SELECT COUNT(*) FROM users
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(2,)]

In [38]:
query = """
SELECT *
FROM users
ORDER BY name;
"""
cursor.execute(query)
users = cursor.fetchall()
print(users)

[(1, 'Анна Иванова', 'anna_new@mail.ru'), (3, 'Мария Козлова', 'maria@gmail.com')]

In [27]:
cursor.close()
conn.close()